 {
    "parserOptions": {
        "extends": "eslint-config-airbnb",
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },    
        "env": {
          "jest": true,
          "node": true
        }
    },
    "rules": {
      "padded-blocks": 0,
      "no-use-before-define": [2, "nofunc"],
      "no-unused-expressions": 0
    }
}